<h3>{{ text | uppercase }}</h3>

<hr>
<h4>Standard-Pipes</h4>
<p>{{ text | slice:6:9 }}</p>
<p>{{ date | date:'dd.MM.yyyy' }}</p>
<p>{{ text2 }}</p>
<p>{{ text2 | slice:2:7 }}</p>
<p>{{ text2 | slice:2:7 | uppercase }}</p>
<p>{{ asyncValue | async }}</p>

<hr>
<h4>Eigene-Pipe (multiply...)</h4>
<input type="text" class="inputNumber eins" #firstNumber (keyup)="0">
<input type="text" class="inputNumber zwei"  #secondNumber (keyup)="0">
<input type="text" class="inputNumber drei"  #thirdNumber (keyup)="0">
{{ firstNumber.value | multiply:secondNumber.value }}

<hr>
<h4>Eigene-Pipe (filter...)</h4>
<ul>
    <li *ngFor="let element of shoppingList | filter:'rot'">{{ element }}</li>
</ul>
<input type="text" id="addElement" class="eins" #addElement>
<button class="btn btn-primary" (click)="shoppingList.push(addElement.value)">Element hinzufügen</button>

<hr>
<h4>HttpClient</h4>
<label for="username">Username</label>
<input type="text" class="eins" id="username" #username>
<label for="email">Email</label>
<input type="email" id="email" #email class="eins">
<button (click)="onSubmit(username.value, email.value)" class="btn btn-primary">Übermitteln</button>

<hr>
<button (click)="onGetData()">Daten abrufen</button>
<ul>
    <li *ngFor="let user of users">{{ user.username }} | {{ user.email }}</li>
</ul>

<hr>
<ul>
    <li *ngFor="let asyncUser of asyncUsers | async">{{ asyncUser.username }} | {{ asyncUser.email }}</li>
</ul>

<hr>
<button (click)="test()">test</button>
{{ testString }}


