recipeItem...
<a href="#" class="list-group-item" clearfix (click)="onSelect()">
<div class="pull-left">
  <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
  <p class="list-group-item-text"> {{ recipe.description }}</p>
</div>
<div class="pull-right">
  <img class="img-responsive" [src]="recipe.imgPath" alt="" style="max-height: 50px">
</div>
</a>

<br>
  <div class="test">
  {{ testIn }}
  {{ test }}
  <br>
  <div class="btn-group">
    <button class="btn btn-black btn-default" [disabled]='isDisabled'>Try Me</button>
    <button class="btn btn-black" disabled='{{isDisabled}}'>Try Me</button>
    <button class="btn btn-black" bind-disabled='isDisabled'>Try Me</button>
  </div>
  <br>
</div>
