<!--recipeDetail...-->
<div class="row">
  <div class="col-xs-12 test">
    <img class="img-responsive" alt="" src="{{ selectedRecipe?.imagePath }}">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{ selectedRecipe?.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onAddToList()">Zur Einkaufsliste...</button>
    <button class="btn btn-primary" (click)="onEdit()">Bearbeiten</button>
    <button class="btn btn-danger" (click)="onDelete()">Löschen</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <h2>{{ selectedRecipe?.description }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of selectedRecipe?.ingredients">{{ ingredient.name }} ({{ ingredient.amount }})</li>
    </ul>
  </div>
</div>



<!--<hr>-->
<!--<div class="test">-->
  <!--<h3>Test-Bereich...</h3>-->
  <!--<input style="color: black" type="text" #input>-->
  <!--<button (click)="onLog(input.value)" class="btn btn-primary">Log</button>-->
  <!--<button (click)="onStore(input.value)" class="btn btn-primary">Store</button>-->
  <!--<button (click)="onSend(input.value)" class="btn btn-primary">Send</button>-->
  <!--&lt;!&ndash;<button (click)="onSend(input.value)" class="btn btn-primary">Send</button>&ndash;&gt;-->

  <!--<div>-->
    <!--<button (click)="onGet()" class="btn btn-primary">Refresh Storage</button>-->
    <!--<h4>Storage</h4>-->
    <!--<ul>-->
      <!--<li *ngFor="let item of items">{{item}}</li>-->
    <!--</ul>-->
    <!--<h4>Received Value</h4>-->
    <!--<p>{{value}}</p>-->
  <!--</div>-->

<!--</div>-->
